<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

		<!-- Dependent spring beans cfg -->
		<bean id="ltime" class="java.time.LocalTime" factory-method="now" />
		<bean id="ldate" class="java.time.LocalDate" factory-method="now" />
		
		<!-- enable enable componet scanning   for  making user-defined classes spring beans -->
		 <context:component-scan base-package="com.nt.sbeans"/>
		
		
	</beans>
  
  